/*=============================================================
 Authour URI: www.binarycart.com
 License: Commons Attribution 3.0

 http://creativecommons.org/licenses/by/3.0/

 100% To use For Personal And Commercial Use.
 IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

 ========================================================  */
/*==============================================
 GENERAL  STYLES
 =============================================*/
body {
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}

.navbar {
	margin-bottom: 0;
}

#wrapper, .login-page {
	/*background: url("../img/background2.jpg") no-repeat top;*/
	width: 100%;
}

#page-wrapper {
	padding: 15px 15px;
	/*min-height: 600px;*/
	/*background: #F3F3F3;*/
}

#page-inner {
	width: 74%;
	background-color: #fff !important;
	padding: 10px;
}

.text-center {
	text-align: center;
}

.no-boder {
	border: 1px solid #f3f3f3;
}

h2 {
	color: #f00;
}

h4 {
	padding-top: 10px;
}

.square-btn-adjust {
	border: 0px solid transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

p {
	font-size: 16px;
	line-height: 25px;
	padding-top: 20px;
}

/*==============================================
 DASHBOARD STYLES
 =============================================*/
.panel-back {
	background-color: #F8F8F8;
}

.noti-box {
	min-height: 100px;
	padding: 20px;
}

.noti-box .icon-box {
	display: block;
	float: left;
	margin: 0 15px 10px 0;
	width: 70px;
	height: 70px;
	line-height: 75px;
	vertical-align: middle;
	text-align: center;
	font-size: 40px;
}

.text-box p {
	margin: 0 0 3px;
}

.main-text {
	font-size: 25px;
	font-weight: 600;
}

.set-icon {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.bg-color-green {
	background-color: #00CE6F;
	color: #fff;
}

.bg-color-blue {
	background-color: #A95DF0;
	color: #fff;
}

.bg-color-red {
	background-color: #DB0630;
	color: #fff;
}

.bg-color-brown {
	background-color: #B94A00;
	color: #fff;
}

.icon-box-right {
	display: block;
	float: right;
	margin: 0 15px 10px 0;
	width: 70px;
	height: 70px;
	line-height: 75px;
	vertical-align: middle;
	text-align: center;
	font-size: 40px;
}

.main-temp-back {
	background: #8702A8;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}

.main-temp-back .text-temp {
	font-size: 40px;
}

.back-dash {
	padding: 20px;
	font-size: 20px;
	font-weight: 500;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: #2EA7EB;
	color: #fff;
}

.back-dash p {
	padding-top: 16px;
	font-size: 13px;
	color: #fff;
	line-height: 25px;
	text-align: justify;
}

.back-footer-green {
	background-color: #009B50;
	border-top: 0px solid #fff;
}

.back-footer-red {
	background-color: #AF0000;
	border-top: 0px solid #fff;
}

.color-bottom-txt {
	color: #000;
	font-size: 16px;
	line-height: 30px;
}

/*CHAT PANEL*/
.chat-panel .panel-body {
	height: 450px;
	overflow-y: scroll;
}

.chat-box {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chat-box li {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #808080;
}

.chat-box li.left .chat-body {
	margin-left: 90px;
}

.chat-box li .chat-body p {
	margin: 0;
	color: #8d8888;
}

.chat-img > img {
	margin-left: 20px;
}

/*==============================================
 MENU STYLES
 =============================================*/

.user-image {
	margin: 25px auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	max-height: 170px;
	max-width: 170px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
	background: transparent;
	/*width: 260px;*/
	text-align: center;
	height: 60px;
	font-size: 30px;
	font-weight: 700;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	background: #4d4d4d;
	color: #fff;
}

.active-menu {
	background-color: #C90000 !important;
}

.arrow {
	float: right;
}

.fa.arrow:before {
	content: "\f104";
}

.active > a > .fa.arrow:before {
	content: "\f107";
}

.sub-menu {
	margin-left: 10%;
}

.core {
	border: 1px dashed white !important;
	margin: 10px;
}

.nav-second-level li, .nav-third-level li {
	border-bottom: none !important;
}

.nav-second-level li a {
	padding-left: 37px;
}

.nav-third-level li a {
	padding-left: 55px;
}

.sidebar-collapse, .sidebar-collapse .nav {
	background: none;
}

.sidebar-collapse .nav {
	padding: 0;
}

.sidebar-collapse .nav > li > a {
	color: #fff;
	background: #202020;
	text-shadow: none;
}

.sidebar-collapse > .nav > li > a {
	padding: 15px 10px;
}

.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}

.sidebar-collapse .nav > li > a:hover, .sidebar-collapse .nav > li > a:focus {

	background: #0A0A0A;
	outline: 0;
}

.nav-second-level > li > a:before, .nav-third-level > li > a:before {
	content: "";
	display: block;
	position: absolute;
	left: 20px;
	width: 15px;
	height: 1px;
	background: #ff0000;
	top: 20px;
}

.nav-second-level > li > a:after, .nav-third-level > li > a:after {
	content: "";
	display: block;
	position: absolute;
	left: 20px;
	width: 1px;
	height: 100%;
	background: #ff0000;
	top: 0px;
	z-index: 10;
}

.nav-second-level > li:last-child > a:after, .nav-third-level > li:last-child > a:after {
	height: 50%;
}

.nav-third-level > li > a:after, .nav-third-level > li > a:before {
	left: 40px;
}

.navbar-side {
	border: none;
	background-color: #202020;
}

.navbar-cls-top {
	background: #e1faff;
	border-bottom: 2px solid #87c4d0;
	/*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);*/
	position: relative;
	z-index: 15;
}

.navbar-cls-top .navbar-brand:hover {

	background: transparent;
	color: #fff;
}

.navbar-header {
	background: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}

.nav > li > a > i {
	margin-right: 10px;
}

/*==============================================
 UI ELEMENTS STYLES
 =============================================*/
.btn-circle {
	width: 50px;
	height: 50px;
	padding: 6px 0;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}

/*==============================================
 MEDIA QUERIES
 =============================================*/

@media (min-width: 768px) {
	#page-wrapper {
		margin: 0 0 0 275px;
		padding: 15px;
	}

	.navbar-side {
		z-index: 1;
		position: absolute;
		width: 260px;
	}

	.modules-nav, .cots-navbar {
		width: 275px;
		top: 60px;
		bottom: 0;
	}

	.modules-nav #main-menu {
		position: absolute;
		top: 120px;
		bottom: 0;
		max-height: 100%;
		overflow: auto;
		width: 275px;
	}

	.navbar {
		border-radius: 0px;
	}

}

.mrg-b-0-t-5 {
	margin-bottom: 0px;
	margin-top: 5px;
}

.core-slot {
	background: #fff none repeat scroll 0 0;
	border: 1px dashed #333;
	font-size: 16px;
	line-height: 50px;
	margin: 10px 0 0 10px;
	padding: 10px;
	text-align: center;
	width: auto;
	height: 50px;
}

.draggable .core-slot {
	background: #000 none repeat scroll 0 0;
	color: #fff;
	border: 2px solid #333;
}

.slot {
	background: #fff none repeat scroll 0 0;
	border: 1px dashed #333;
	float: left;
	line-height: 50px;
	margin: 10px 0 0 10px;
	padding: 10px;
	width: 15vw;
	text-align: center;
	height: 70px;
}

.draggable .slot {
	background: #000 none repeat scroll 0 0;
	color: #fff;
	border: 2px solid #333;
}

.cots-navbar {
	right: 0;
	top: 60px;
}

.cots-navbar h1.navbar-brand, .modules-nav h1.navbar-brand {
	margin-top: 0;
	float: none;
	margin-bottom: 0;
	background: #c90000;
	color: #ffffff;
}

.modules-nav h1.navbar-brand, .cots-navbar h1.navbar-brand {
	font-size: 24px;
	font-weight: 700;
	height: 50px;
	text-align: center;
}

.modules-nav h1.navbar-brand:hover, .cots-navbar h1.navbar-brand:hover {
	background: #c90000;
	color: #ffffff;
}

.cots-navbar .nav li:empty {
	display: none;
}

.modules-nav .nav > li.menu-li > a {
	padding: 10px;
	font-size: 14px;
}

.modules-nav .nav > li.menu-li > a .menu-icon {
	position: absolute;
	right: 5px;
	top: 13px;
	transition: transform 150ms ease;
}

.modules-nav .nav > li.menu-li > a .menu-icon.rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.modules-nav .nav > li.menu-li .sub-menu {
	margin-left: 0;
	display: none;
}

.modules-nav .nav > li.menu-li .sub-menu a {
	font-size: 13px;
	padding-left: 20px;
	color: #bbb;
}

.solution-dd {
	margin-top: 10px;
}
.btn-green, a.btn-green {
	background: #00bf60;
	background: -moz-linear-gradient(top, #00bf60 0%, #00903b 100%);
	background: -webkit-linear-gradient(top, #00bf60 0%, #00903b 100%);
	background: linear-gradient(to bottom, #00bf60 0%, #00903b 100%);
	font-size: 20px;
	color: #fff;
}
.btn-green:focus, .btn-green:hover, a.btn-green:focus, a.btn-green:hover {
	background: -moz-linear-gradient(top, #00903b 0%, #00bf60 100%);
	background: -webkit-linear-gradient(top, #00903b 0%, #00bf60 100%);
	background: linear-gradient(to bottom, #00903b 0%, #00bf60 100%);
	color: #fff;
}

.navbar-nav > li > a.btn-green {
	color: #fff;
	font-weight: bold;
	padding: 11px 12px;
	margin-right: 20px;
}

svg:not(:root) {
	z-index: 1;
}

.btn.btn-refresh {
	background: #e9c801;
	background: -moz-linear-gradient(top, #e9c801 0%, #ff8001 100%);
	background: -webkit-linear-gradient(top, #e9c801 0%, #ff8001 100%);
	background: linear-gradient(to bottom, #e9c801 0%, #ff8001 100%);
	color: #fff;
	font-size: 20px;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0;
	margin-top: 8px;
}

.mobule-box, a.mobule-box {
	display: block;
	background: #fff;
	padding: 30px 10px 8px;
	text-align: center;
	margin: 10px 5px;
	font-size: 16px;
	font-weight: bold;
	/*border: 1px solid rgba(0, 0, 0, 0.1);*/
	border-radius: 5px;
	z-index: 1;
	font-weight: bold;
	position: relative;
	color: #fff;
	/* box-shadow: 0px 1px 3px rgba(0,0,0,0.2); */
}
.mobule-box.active, a.mobule-box.active {
	/*background: linear-gradient(to bottom, #00a398 0%, #00cca3 100%);*/
	border-bottom: 3px solid #fff;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
}

/*
 .mobule-box.active:after, a.mobule-box.active:after {
 content: "ïƒ—";
 font-family: FontAwesome;
 color: #fff;
 font-size: 24px;
 position: absolute;
 bottom: -22px;
 left: 50%;
 }*/

.block-container {
	position: absolute;
	z-index: 0;
	background: rgba(255,255,255,1);
	min-height: 130px;
	max-height: 130px;
	left: 0;
	right: 0;
	text-align: center;
}
.block-container.active {
	z-index: 1
}
.block-container-overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	z-index: 10;
	text-align: center;
	font-size: 18px;
}
.block-container-overlay span {
	display: block;
	position: relative;
	/*
	 top: 50%;
	 -ms-transform: translateY(-50%);
	 -webkit-transform: translateY(-50%);
	 transform: translateY(-50%);*/

	margin-top: 48px;
}
/* .mobule-box span {
 display: block;
 position: relative;
 top: 50%;
 -ms-transform: translateY(-50%);
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
 } */

.mobule-box.cbg, a.mobule-box.cbg {
	color: #fff;
}

.mobule-box:hover, a.mobule-box:hover {
	text-decoration: none;
	/*
	 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/

}

.mobule-box:focus, a.mobule-box:focus {
	/*
	 box-shadow: 0 0 6px rgba(0, 0, 0, 0.3) inset;
	 -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/

}
.mobule-box.completed:before {
	content: "";
	background: #fff;
	position: absolute;
	right: -3px;
	top: -2px;
	z-index: 9;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}
.mobule-box.completed:after {
	content: "";
	font-family: FontAwesome;
	font-size: 30px;
	color: green;
	position: absolute;
	right: -5px;
	top: -14px;
	z-index: 10;
}

.module-draggable {
	background: rgba(71, 100, 170, 0.5);
	padding: 40px 20px 0;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.module-draggable .mobule-box {
	border: 1px dashed #333;
	width: 90%;
	margin-bottom: 40px;
}

.module-section-bg {
	background: rgba(255, 255, 255, 1);
	padding-top: 10px 15px;
	margin-bottom: 30px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 10;
}

.close-module {
	position: absolute;
	top: 100%;
	background: rgba(255, 255, 255, 0.85);
	left: 50%;
	font-size: 24px;
	padding: 2px 20px;
	border-radius: 0 0 5px 5px;
	margin-left: -20px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
	color: #b72120;
	display: none;
}

#basePlatform {
	margin-top: 5vh;
	z-index: 1
}

#basePlatform img {
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 80px;*/
}

.sideBar {
	padding-top: 10px;
	height: 80vh;
	margin: 10px;
	width: 15%;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
}

.mobule-box {
	position: relative;
	/*box-shadow: 0 1px 4px -2px #333333;*/
	display: inline-block;
	border-radius: 3px;
	/*max-width: 150px;*/
	white-space: normal;
	/*height: 75px;*/
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
	min-height: 65px;
}

/*
 .mobule-box:after {
 content: "";
 height: 50%;
 left: 2px;
 position: absolute;
 top: 2px;
 width: calc(100% - 4px);
 border-radius:5px;
 background: rgba(0, 0, 0, 0) linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)) repeat scroll 0 0;
 }*/

.mobule-box.glass {
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5), 0 0.18em 0.15em rgba(0, 0, 0, 0.18);
}

.mobule-box.glossy::after, .mobule-box.glass::after {
	background-image: -moz-linear-gradient(left center, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.4));
	border-radius: 0.5em 0.5em 1em 1em /0.5em 0.5em 2em 2em;
	content: "";
	height: 60%;
	left: 2%;
	position: absolute;
	top: 0;
	width: 96%;
}

.mobule-box.bg1 {
	background: rgba(0, 0, 0, 0) linear-gradient(#3db1ce, #5bd5f4) repeat scroll 0 0;
}
.mobule-box.completed {
	background: linear-gradient(#ff7043, #ffa800) repeat scroll 0 0;
	cursor: default;
}
.mobule-box.bg2 {
	background: rgba(0, 0, 0, 0) linear-gradient(#e9a400, #ffea00) repeat scroll 0 0;
}

.mobule-box.bg3 {
	background: rgba(0, 0, 0, 0) linear-gradient(#00a900, #e6f961) repeat scroll 0 0;
}

.mobule-box.bg4 {
	background: rgba(0, 0, 0, 0) linear-gradient(#cf4545, #ff7070) repeat scroll 0 0;
}

.mobule-box.bg5 {
	background: #ffc400;
	background: rgba(0, 0, 0, 0) linear-gradient(#cc8027, #ffda82) repeat scroll 0 0;
}

.mobule-box.bg6 {
	background: #ff7043;
	background: rgba(0, 0, 0, 0) linear-gradient(#ff7043, #ffa183) repeat scroll 0 0;
}

.mobule-box.bg7 {
	background: #357db1;
	background: rgba(0, 0, 0, 0) linear-gradient(#357db1, #bfe4ff) repeat scroll 0 0;
}

.mobule-box.bg8 {
	background: rgba(0, 0, 0, 0) linear-gradient(#a16db6, #eec2ff) repeat scroll 0 0;
}

.mobule-box.bg9 {
	background: #ff9800;
	background: linear-gradient(to bottom, #00a398 0%, #00cca3 100%);
}

.mobule-box.bg10 {
	background: #26a69a
}

.mobule-box.bg11 {
	background: #8d6e63
}

.mobule-box.bg12 {
	background: #7cb342
}

.mobule-box.lego-bg1 {
	background: url('../img/Lego-Nav/1.png') no-repeat center top;
}
.mobule-box.lego-bg2 {
	background: url('../img/Lego-Nav/2.png') no-repeat center top;
}
.mobule-box.lego-bg3 {
	background: url('../img/Lego-Nav/3.png') no-repeat center top;
}
.mobule-box.lego-bg4 {
	background: url('../img/Lego-Nav/4.png') no-repeat center top;
}
.mobule-box.lego-bg5 {
	background: url('../img/Lego-Nav/5.png') no-repeat center top;
}
.mobule-box.lego-bg6 {
	background: url('../img/Lego-Nav/6.png') no-repeat center top;
}
.mobule-box.lego-bg7 {
	background: url('../img/Lego-Nav/7.png') no-repeat center top;
}
.mobule-box.lego-bg8 {
	background: url('../img/Lego-Nav/8.png') no-repeat center top;
}
.mobule-box.lego-bg9 {
	background: url('../img/Lego-Nav/9.png') no-repeat center top;
}

ul.game-levels {
	margin: 0;
	padding: 0;
}

ul.game-levels li {
	list-style-type: none;
	margin-top: 30px;
	display: block;
	position: relative;
}

ul.game-levels li:not(:last-child):before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	background: #4f8700;
	width: 2px;
	height: 30px;
}

ul.game-levels li:not(:last-child):after {
	content: "";
	font-family: FontAwesome;
	font-size: 24px;
	font-style: normal;
	color: #4f8700;
	position: absolute;
	top: 117%;
	left: 50%;
	margin-left: -6px;
}

ul.game-levels li a {
	display: block;
	background: rgba(0, 0, 0, 0) linear-gradient(#a1ef00, #6bb600) repeat scroll 0 0;
	padding: 8px 0;
	text-align: center;
	border-radius: 30px;
	color: #2c2c2c;
	font-weight: 800;
	font-size: 24px;
	box-shadow: 0 2px 0px rgba(79, 135, 0, 0.9);
	position: relative;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.3);
}

ul.game-levels li a.active, ul.game-levels li a.active:hover {
	background: rgba(0, 0, 0, 0) linear-gradient(#ffef42, #eaaf01) repeat scroll 0 0;
	box-shadow: 0 2px 0px rgba(187, 140, 0, 0.9);
}

ul.game-levels li a:hover {
	text-decoration: none;
	background: rgba(0, 0, 0, 0) linear-gradient(#6bb600, #a1ef00) repeat scroll 0 0;
}

ul.game-levels li a:after {
	content: "";
	height: 55%;
	left: 7px;
	position: absolute;
	top: 2px;
	width: calc(100% - 14px);
	border-radius: 30px;
	background: rgba(0, 0, 0, 0) linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2)) repeat scroll 0 0;
}
#registration_modal .modal-title {
	padding-top: 0;
	font-weight: bold;
}
#registration_modal .modal-dialog {
	max-width: 90%;
	width: 90%;
}
#printArea.modal-dialog {
	max-width: 90%;
	width: 90%;
}
.login-container {
	/*
	 margin: 6% auto 0;
	 max-width: 400px;*/

	position: relative;
}

.login-container .loginbox {
	/*
	 background: rgba(255, 255, 255, 0.9);
	 -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
	 box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);*/

	padding: 0;
	position: relative;
	border-radius: 3px;
}

.login-container .loginbox .loginbox-title {
	color: #444444;
	font-size: 24px;
	font-weight: normal;
	height: 35px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	width: 100%;
}

.login-container .loginbox .loginbox-textbox {
	padding: 10px;
}

.login-container .loginbox .loginbox-forgot {
	padding-left: 40px;
	padding-right: 40px;
}

.login-container .loginbox .loginbox-forgot a {
	text-decoration: underline;
}

.login-container .loginbox .loginbox-forgot a:hover {
	text-decoration: none;
}

.login-container .loginbox .loginbox-submit {
	padding: 10px 40px;
}

.login-container .logobox {
	background-color: white;
	background-image: -webkit-linear-gradient(top, white 0%, #f2f2f2 100%);
	background-image: linear-gradient(to bottom, white 0%, #f2f2f2 100%);
	background-repeat: repeat-x;
	-webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(255, 255, 255, 0.9) inset;
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(255, 255, 255, 0.9) inset;
	text-align: left;
	width: 400px;
	text-align: center;
	padding: 15px 0;
	position: relative;
	z-index: 1;
	border-bottom: 3px solid #fff;
}

.login-container .logobox h3 {
	margin: 0;
}

.login-container .login-footer {
	text-align: left;
	line-height: 24px;
	padding: 15px 0 0;
}

.login-container label {
	font-weight: bold;
}

.login-container .input-group-addon.mandatory {
	border-left: 2px solid red;
}

.btn.login-btn {
	background: rgba(0, 0, 0, 0) linear-gradient(#00bf60, #00903b) repeat scroll 0 0;
	border-color: #00903b;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding: 10px 20px;
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}

.btn.login-btn:hover {
	background: rgba(0, 0, 0, 0) linear-gradient(#00903b, #00bf60) repeat scroll 0 0;
}

#blocks .item {
	margin: 10px;
	display: inline;
	z-index: 9999;
}

#blocks .owl-wrapper-outer {
	overflow: inherit;
}

#blocks .owl-wrapper {
	width: auto !important;
}

h2.logo-text {
	color: #fff;
	margin-bottom: 20px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	font-weight: bold;
}

#blocks {
	min-height: 130px;
	max-height: 130px;
	overflow-y: inherit;
}

/*#blocks, #categories {
 min-height: 130px;
 max-height: 130px;
 overflow-y: inherit;
 overflow-x:hidden;
 }*/
.nav-btnbar li {
	margin-left: 10px;
}
.finish-module-button {
	/*
	 background: #87e0fd;
	 background: -moz-linear-gradient(top, #87e0fd 0%, #05abe0 100%);
	 background: -webkit-linear-gradient(top, #87e0fd 0%,#05abe0 100%);
	 background: linear-gradient(to bottom, #87e0fd 0%,#05abe0 100%);*/

	background: linear-gradient(to bottom, #f9ad49 0%, #e8df6c 100%);
}
.finish-module-button:hover, .finish-module-button:focus {
	/*
	 background: #05abe0;
	 background: -moz-linear-gradient(top, #05abe0 0%, #87e0fd 100%);
	 background: -webkit-linear-gradient(top, #05abe0 0%,#87e0fd 100%);
	 background: linear-gradient(to bottom, #05abe0 0%,#87e0fd 100%);*/

	background: linear-gradient(to bottom, #e8df6c 0%, #f9ad49 100%);
}
.lego-drag.ui-draggable:not(.dropped) {
cursor: move;
}

.background-img {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	max-width: 100%;
	z-index: 0;
}
.core-claims-blocks img {

}
.core-claims-blocks img.shorty {
	max-width: 110px;
}
.core-claims-blocks img.lengthy {
	max-width: 190px;
}
.cloned-elements {
	position: absolute;
	z-index: 0;
}
.modal-lg.result-modal {
	width: 90%;
	max-width: 1200px;
}
.result-modal h4.modal-title {
	margin-top: 0;
	padding-top: 0;
	font-size: 24px;
	font-weight: bold;
}
.core-claims-blocks .base-block {
	transform: translateY(-300px);
}
.pull-relative {
	position: relative;
}
.tooltip-desc {
	position: absolute;
	top: 230px;
	max-width: 325px;
	min-width: 325px;
	background: rgba(16, 63, 110, 0.85);
	color: #fff;
	border-radius: 10px;
	padding: 20px;
	z-index: 20;
	display: none;
	height:270px;
	max-height: 230px;
	overflow: hidden;
}
/*
 .tooltip-text-container {
 position: absolute;
 top:50px;
 left:15px;
 }*/

.tooltip-desc.tooltip-left {
	left: 15px;
}
.tooltip-desc.tooltip-right {
	right: 15px;
}
/*
 .tooltip-desc.tooltip-left:after {
 content: ' ';
 position: absolute;
 width: 0;
 height: 0;
 left: auto;
 right:20px;
 top: -22px;
 bottom: auto;
 border: 12px solid;
 border-color: transparent rgba(16, 63, 110, 0.85) rgba(16, 63, 110, 0.85) transparent;
 }*/

/*
 .tooltip-desc.tooltip-right:after {
 content: ' ';
 position: absolute;
 width: 0;
 height: 0;
 right: auto;
 left:20px;
 bottom: -22px;
 border: 12px solid;
 border-color: rgba(16, 63, 110, 0.85) transparent transparent rgba(16, 63, 110, 0.85);
 }*/

.tooltip-desc p {
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	padding-top: 0;
}
.tooltip-desc h4 {
	margin: 0 0 10px 0;
	padding-top: 0;
	font-weight: bold;
	position: relative;
}
.tooltip-desc h4 .tooltip-close {
	position: absolute;
	right: -7px;
	z-index: 1;
	top: -7px;
	font-size: 24px;
	color: #85a2bf;
}
.preloader {
	background: rgba(255,255,255,0.98);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}
.preloader-content {
	text-align: center;
	position: relative;
	top: 50%;
	font-weight: bold;
	color: #01b6d7;
	width: 400px;
	height: 200px;
	margin-top: -100px;
	left: 50%;
	margin-left: -150px;
	padding: 30px 0;
}
.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #01b6d7;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
0%, 10% {
-webkit-transform: perspective(140px) rotateX(-180deg);
transform: perspective(140px) rotateX(-180deg);
opacity: 0;
} 25%, 75% {
-webkit-transform: perspective(140px) rotateX(0deg);
transform: perspective(140px) rotateX(0deg);
opacity: 1;
} 90%, 100% {
-webkit-transform: perspective(140px) rotateY(180deg);
transform: perspective(140px) rotateY(180deg);
opacity: 0;
}
}

@keyframes sk-foldCubeAngle {
0%, 10% {
-webkit-transform: perspective(140px) rotateX(-180deg);
transform: perspective(140px) rotateX(-180deg);
opacity: 0;
} 25%, 75% {
-webkit-transform: perspective(140px) rotateX(0deg);
transform: perspective(140px) rotateX(0deg);
opacity: 1;
} 90%, 100% {
-webkit-transform: perspective(140px) rotateY(180deg);
transform: perspective(140px) rotateY(180deg);
opacity: 0;
}
}
.evoBrix-logo {
	position: fixed;
	left: 50px;
	bottom: 25px;
	z-index: 20;
	max-width: 13%;
}
.evoBrix-logo img {
	max-width: 100%;
}
.owl-carousel .owl-item.active {
	background: rgba(0,0,0,0);
}
.owl-carousel .owl-item {
	position: relative;
}
.owl-carousel .owl-item.active:after {
	content: "";
	font-family: FontAwesome;
	font-size: 30px;
	color: #fff;
	position: absolute;
	bottom: -14px;
	z-index: 30;
	left: 50%;
	margin-left: -10px;
	text-shadow: 0 1px 0px rgba(0,0,0,0.2);
}
.mobule-box.empty-space {
	background: rgba(0,0,0,0);
}

.block-container.pm-container {
	z-index: unset;
}
.block-container.pm-container.active {
	z-index: 1;
}
.block-container.ce-container.active {
	z-index: 0;
}
.pm-container .base-block.dropped {
	z-index: 2;
}
.form-control[disabled] {
	background-color: rgb(255, 255, 255);
}
#printArea .login-container {
	padding: 0 0 20px;
}
.modal-content {
	background: rgba(255, 255, 255, 0.9);
}
.modal-header {
	border-bottom-color: rgba(0,0,0,0.2);
}
.result-modal .modal-header {
	background: #fff;
	padding: 0px 15px;
}
#registration_modal .modal-header button.close {
	font-size: 60px;
	margin-top: -28px;
	box-shadow: 4px 3px 5px 0 rgba(50, 50, 50, 0.75);
	-webkit-box-shadow:4px 3px 5px 0 rgba(50, 50, 50, 0.75);
	-moz-box-shadow:4px 3px 5px 0 rgba(50, 50, 50, 0.75);
	box-shadow:4px 3px 5px 0 rgba(50, 50, 50, 0.75);
	background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
	background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
	background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
	background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
	background-image: -o-linear-gradient(top, #f62b2b, #d20202);
	background-image: linear-gradient(to bottom, #f62b2b, #d20202);
	border:1px solid ##b30808;
	border-left:0px;
	border-radius:0px 4px 4px 0px;
    color: #fff;
    opacity: 1;
    padding: 0 10px;
    position: relative;
    right: -72px;
    top: 30px;
}
.form-control {
	height: 44px;
}
.input-group-addon {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
	color:rgba(0,0,0,0.7);
}
.mandatory {
	color:#C91E1E;
	font-size:12px;
}
.img-built {
	position: relative;
}
.img-built img {
	min-width: 100%;
	max-width: 100%;
	border-radius:3px;
	border:1px dashed rgba(0,0,0,0.3);
	transition: all 0.5s ease;	
	box-shadow: 0 1px 0 rgba(255,255,255,0.95), 0 -1px 0 rgba(255,255,255,0.95);
}
.img-built img:hover {
	box-shadow: 0 3px 10px rgba(0,0,0,0.35);
}
.img-built h4 {
	position: absolute;
	left:15px;
	right:15px;
	top:0;
	text-align: center;
	font-size:30px;
}
.mesc-header {
	text-align: center;
	margin-right:35px;
	
}
.mesc-header img {
	max-width: 100%;
}
.result-modal.modal-dialog {
	margin-top:0;
}
h2.mod-header {
	background:#b4daff;
	text-align:center;
	border:1px dashed rgba(0,0,0,0.3);
	box-shadow: 0 1px 0 rgba(255,255,255,0.95), 0 -1px 0 rgba(255,255,255,0.95);
	margin-top:0;
	color:#333;
	padding: 5px 0;
	text-transform: uppercase; 
	border-radius:3px;
}
.img-built.pad-left {
	padding-left: 5px;
}
.img-built.pad-right {
	padding-right: 5px;
}
.result-modal .modal-footer {
	margin:0;
	padding:0 20px 20px;
	border: 0;
}
.email-btn {
	margin-top: 120px;
	min-width: 150px;
}
#printArea .modal-header .close {
	font-size:60px;
	box-shadow: 4px 3px 5px 0 rgba(50, 50, 50, 0.75);
	-webkit-box-shadow:4px 3px 5px 0 rgba(50, 50, 50, 0.75);
	-moz-box-shadow:4px 3px 5px 0 rgba(50, 50, 50, 0.75);
	box-shadow:4px 3px 5px 0 rgba(50, 50, 50, 0.75);
	background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
	background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
	background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
	background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
	background-image: -o-linear-gradient(top, #f62b2b, #d20202);
	background-image: linear-gradient(to bottom, #f62b2b, #d20202);
	border:1px solid ##b30808;
	border-left:0px;
	border-radius:0px 4px 4px 0px;
    color: #fff;
    opacity: 1;
    padding: 0 10px;
    position: absolute;
    right: -56px;
    top: 30px;
}
.loginbox   label{
font-size:18px;
}
.sa-confirm-button-container button{
background:#00903b !important;
}